
.parent {
  display: flex;
}
.child2 {
  flex-direction: column;
}

.container {
  display: flex;
}
.btn {
  border-radius: 20px;
  border-style: hidden;
  width: fit-content;
  padding: 8px 15px;
}
.btn:hover {
  color: rgb(0, 0, 0);
  border: 2px solid black;
  width: fit-content;
  background-color: aquamarine;
  cursor: pointer;
}
.navbar {
  border-radius: 30px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  background-color:bisque;
  color: rgb(0, 0, 0);
  position: sticky;
  z-index: 10;
  top: 0;
}

.navbar li {
  font-size: medium;
}

.nav-link {
  display: flex;
  gap: 28px;
}
.blank{
  margin-top: 30px;
  border: 30px solid rgb(255, 255, 255) ;
}
#home{
  margin-top: 40px;
  border-radius: 50px;
}

.cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px ;
    background-color: antiquewhite;
    border-radius: 20px;
  }
  .cont h2{
    font-size: 35px;
  }

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: monospace;
  
}
.myself{
  background-color: antiquewhite;
  margin-top: 30px;
  border-radius: 20px;
  padding: 12px;
}
.myself h2{
font-size: 35px;
font-family: monospace;
}
.myself p{
  font-family: Courier, monospace;
  font-weight: 400;
  font-family: 'Tangerine', serif;
  font-size: 18px;
  text-shadow: 2px 2px 2px #cac5c5;
}
.project{
  margin-top: 20px;
  font-size: 30px;
  border: 2px solid rgb(255, 255, 255);
  width: fit-content;
  background-color: antiquewhite;
  border-radius: 10px;
}
.project h2{
  font-family:  monospace;
}